@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrap-balance {
  text-wrap: balance;
}

/** Make the stroke dasharray animate really slowly **/
/* .react-flow__edge {
  animation: dash 3s linear infinite;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */

body {
  @apply bg-[#363141] text-background antialiased;
}

.react-flow__node {
  filter: drop-shadow(0 4px 6px #0004);
}

.custom-numbers {
  text-shadow:
    0 0 0 #000,
    0 0 4px #0004;
}

.react-flow__attribution {
  @apply !bg-transparent text-neutral-400;
}

/** Animated Background border Around Element **/
.tc-panel-loading {
  position: relative;
  border-width: 1px;
  border-color: transparent;
}

.tc-panel-loading::before {
  content: "";
  position: absolute;
  border-radius: 9999px;
  width: 100%;
  height: 520px;
  top: -228px;
  transform-origin: center;
  left: 0px;
  z-index: -1;
  background: conic-gradient(
    theme("colors.brand.500"),
    theme("colors.brand.900")
  );
  animation: spin 2s linear infinite;
}

.tc-panel-loading::after {
  content: "";
  position: absolute;
  border-radius: 9999px;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: -1;
  @apply bg-neutral-900;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
