@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrap-balance {
  text-wrap: balance;
}

/** Make the stroke dasharray animate really slowly **/
.react-flow__edge {
  animation: dash 30s linear infinite;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
