@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrap-balance {
  text-wrap: balance;
}

/** Make the stroke dasharray animate really slowly **/
/* .react-flow__edge {
  animation: dash 3s linear infinite;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */

body {
  @apply bg-[#363141] text-background antialiased;
}

.react-flow__node {
  filter: drop-shadow(0 4px 6px #0004);
}

.custom-numbers {
  text-shadow:
    0 0 0 #000,
    0 0 4px #0004;
}

.react-flow__attribution {
  @apply !bg-transparent text-neutral-400;
}
